<div class="container">
  <div class="col-md-12">
    <div class="page-header">
      {{#link-to 'bands'}}
        <h1>Rock &amp; Roll<small> with Ember.js</small></h1>
      {{/link-to}}
    </div>

    {{outlet}}
  </div>
</div>
